            <!--우측 콘텐츠 헤더영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>관리자 정보 수정</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home></a>
                        </li>
                        <li>
                            <a>관리자 정보 수정></a>
                        </li>
                        <li class="active">
                            <strong>수정</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <div class="wrapper wrapper-content">
                <div class="ibox-content m-b-sm border-bottom">

                <form action="/admin/modify/<%=admin.admin_member_id%>" method="post"id="adminForm">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">아이디</label>
                                <input type="text" class="form-control"name="admin_id" value="<%=admin.admin_id%>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">암호</label>
                                <input type="password" class="form-control"name="admin_password"value="<%=admin.admin_password%>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">성명</label>
                                <input type="text" class="form-control" name="admin_name"value="<%=admin.admin_name%>">
                            </div>
                        </div>

                    </div>
                    
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">메일주소</label>
                                <input type="text" class="form-control" name="email"value="<%=admin.email%>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">회사코드</label>
                                <input type="text" class="form-control"name="company_code"value="<%=admin.company_code%>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">부서명</label>
                                <input type="text" class="form-control" name="dept_name"value="<%=admin.dept_name%>">
                            </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">전화번호</label>
                                <input type="text" class="form-control" name="telephone"value="<%=admin.telephone%>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">등록일시</label>
                                <input type="text" class="form-control"name="reg_date" value="<%=admin.reg_date%>">
                            </div>
                        </div>
                        



                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">저장</button>
                        <a href="/admin/list" class="btn btn-info">목록</a>
                        <a href="#" id="btnDelete" class="btn btn-danger">삭제</a>
                        <input type="hidden" value="<%=admin.admin_member_id%>" id="adminId"/>
                    </div>

                </div>
            </div>
            <script src="/js/jquery-3.1.1.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
            <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script>

    $("#btnDelete").click(function(){
    if(confirm("정말 삭제하시겠습니까?")){
        location.href = "/admin/delete?aid=" + $("#adminId").val();
    }
    });
</script>